.portfolioContainer {
  height: calc(100vh - 40px - 55px);
  height: 5000px;
}

.portfolio {
  height: 99%;
}

.portfolio .splash {
  background: var(--linear-gradient-2);
  height: 120px;
  margin-bottom: 30px;
}

.portfolioItems {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: var(--margin-left);
}

.portfolioItem {
  margin: 10px 10px 0 0; 
  padding: 10px;
  background: white;
  border: 1px solid var(--light-blue-1);
  border-radius: 3px;
  width: 280px;
  height: 100px;
}

.portfolioItem h1,
.portfolioItem h2 {
  white-space: nowrap;
}

.portfolioItem h1 {
  font-size: 32px;
  line-height: 34px;
}

.portfolioItem h2 {
  font-size: 18px;
  margin-top: 0;
}

.portfolioItem a {
  color: initial;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  height: 100%;
}

.browseItem a:hover {
  opacity: 1;
}
