.slidingBoxContainer {
  position: relative;
  max-width: 550px;
  width: var(--sliding-box-container-width);
  margin: var(--sliding-box-container-margin);
}

.box {
  position: absolute;
  transition: top 1s ease-out, opacity 1s ease-out;
  max-width: 100%;
  max-height: 600px;
}

.photo {
  max-width: 100%; 
}

.boxText {
  margin: 8px 0;
  width: 100%;
  text-align: center;
  transition: top 1s ease-out, opacity 1s ease-out;
  color: #777;
  font-size: 13px;
}

@media(max-width: 650px) {
  .box {
    width: calc(var(--sliding-box-container-width) - 12px);
  }

  .photo {
    max-width: calc(100% - 12px);
    margin-left: 6px;
  }
}
