.valueProp {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 550px;
  max-width: 1400px;
  margin: 0 auto;
}

.valueProp:nth-child(4n+1) {
  background: linear-gradient(180deg, white, #e1e9ff, #dce1ff);
}

.valueProp:nth-child(4n+3) {
  background: linear-gradient(180deg, #e6edff, #ece3ff, white);
}

.valueProp:last-child {
  padding-bottom: 150px;
}

.reverse {
  flex-direction: row-reverse;
}

.valueProp .textContainer {
  text-align: right;
  margin-right: var(--value-prop-text-container-margin-centerside);
  margin-left: var(--value-prop-text-container-margin-edgeside);
}

.reverse .textContainer {
  text-align: left;
  margin-left: var(--value-prop-text-container-margin-centerside);
  margin-right: var(--value-prop-text-container-margin-edgeside);
  margin-right: 0;
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;   
  justify-content: center;
}

.text {
  margin-bottom: var(--value-prop-text-margin-bottom);
  max-width: 550px;
}

@media(max-width: 650px) {
  .valueProp {
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: auto;
    padding: 40px 0 calc(var(--sliding-box-container-height) + 60px);
  }

  .valueProp:last-child {
    padding-bottom: 400px;
  }

  .text {
    max-width: 100%;
  }

  .valueProp .textContainer {
    height: auto;
    text-align: center;
  }
}
