.detailPage {
  max-width: calc(100% - (var(--margin-left)) - 40px);
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 3px 0 #aaa;
  height: 100%;
  width: 100vw;
}

.detailPageTop {
  display: flex;
  flex-flow: row nowrap;
  height: 40%;
}

.headers {
  width: 50%; 
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.detailPage h1 {
  font-size: 48px;
  margin-top: -8px;
  margin-left: -2px;
}

.detailPage h3 {
  margin: 10px 0 15px;
  font-size: 28px;
}

.detailPage .times {
  margin-bottom: 15px;
}

.detailPage .photoWrapper {
  width: 100%;
}

.detailPage .photo {
  width: 90%;
  margin: 0 5%;
}

.detailPageBottom {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.detailPageBottom .detailLeft {
  display: inline-block;
  float: left;
  padding-right: 6%;
  border-right: 1px solid #ddd;
  width: 45%;
}

.detailPageBottom .detailRight {
  display: inline-block;
  padding-left: 3%;
  width: 45%;
}

.detailTitle {
  text-decoration: underline;
}

.detailPageDescription {
  font-size: 14px;
}

.detailPage ol {
  font-size: 14px;
}

.detailPage .headers > span {
  line-height: 20px;
  font-weight: 100;
  font-size: 15px;
}
