.header {
  height: 55px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.title {
  font-size: 1.3em;
}

.footer {
	position: absolute;
	bottom: 0;
  height: 40px;
	width: calc(100% - 96px);
  font-size: 0.9em;
}

.header,
.container,
.footer {
	padding-left: 64px;
	padding-right: 32px;
}

.header,
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  color: white;
  background-color: #222;
}

@media(max-width: 650px) {
  .header {
    height: 90px;
    flex-flow: column;
  }

  .footer {
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }

  .header,
  .container,
  .footer {
    padding: 0;
  }

  .title {
    height: 50%;
  }
}
