.header {
  height: 55px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.title {
  font-size: 1.5em;
}

.footer {
	position: absolute;
	bottom: 0;
  height: 40px;
	width: calc(100% - 96px);
}

.header,
.container,
.footer {
	padding-left: 64px;
	padding-right: 32px;
}

.header,
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  color: white;
  background-color: #222;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
