.nav {
  font-size: 1.1em;
	font-weight: bold;
	margin: auto 0;
	display: flex;
	width: 300px;
	justify-content: space-between;
}

.navItem {
	margin: 0 10px 0 0;
  color: white;
  text-decoration: none;
  outline: none;
}

.navItem:visited {
  color: white;
}

.navItem:hover,
.selected {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
